.q{
    font-size: large;
    text-align: center;
    width: 180px;
    height: 50vh;
  
}
.i{
    color: yellow;
}

.t{
    color:yellow;
}
.r{
    color: yellow;
}
.e{
    color: yellow;
}
.bn{
    text-align: center;
    width: 10px;
    height: 50vh;
}
.j{
    color: yellow;
}
.jk{
    width: 200px;
    height: 60vh;
}