.h{
    color:yellow;
    font-size: small;
    text-align: center;
}
.bn{
    text-align: center;
}

.qn{
    text-align: center;
    width: 180px;
    height: 60vh;
  
}
.r{
    color: yellow;
}
.t{
    color:yellow;
}
.e{
    color: yellow;
}